In [4]:
print('Dog')
print('o----')
print(' ||||')

Dog
o----
 ||||

In [5]:
print('*' * 10)

**********

## Variables

In [8]:
price = 10
print('price')
print(price)

price
10

In [9]:
price = 10
price = 20
print(price)

20

In [10]:
rating = 4.9 #Float
is_published = False #Boolean

## Receiving input

In [18]:
input('What is your name? ')

What is your name?  Chris

'Chris'

In [17]:
name = input('What is your name? ')
print('Hi ' + name)

What is your name?  Chris
Hi Chris

In [19]:
name = input('What is your name? ')
color = input('What is your favourite color? ')
print(name + ' likes ' + color)

What is your name?  Chris
What is your favourite color?  red
Chris likes red

## Conversion

In [22]:
birth_year = input('Birth year: ')
age = 2022 - int(birth_year)
print(age)

Birth year:  1997
<class 'str'>
<class 'int'>
25

In [23]:
weight_lbs = input('Weight (lbs): ')
weight_kg = int(weight_lbs) * 0.45
print(weight_kg)

Weight (lbs):  140
63.0

## Strings

In [24]:
course = "Python's for Beginners"
print(course)
course_2 = 'Python for "Beginners"'
print(course_2)

Python's for Beginners
Python for "Beginners"

In [27]:
course_message = '''
Hi John,

Here is our first email to you.

Thank you,
The support team
'''

print(course_message)

Hi John,

Here is our first email to you.

Thank you,
The support team

In [28]:
course = 'Python for Beginners'
print(course[0])

P

In [29]:
course = 'Python for Beginners'
print(course[-1])

s

In [30]:
course = 'Python for Beginners'
print(course[0:3])

Pyt

In [31]:
# Returns all the characters
course = 'Python for Beginners'
print(course[0:])

Python for Beginners

In [33]:
# Assumes the 0 index
course = 'Python for Beginners'
print(course[:5])

Pytho

In [34]:
# Returns all the characters
course = 'Python for Beginners'
print(course[:])

Python for Beginners

In [35]:
another = course[:]
print(another)

Python for Beginners

In [1]:
name = 'Jennifer'
print(name[1:-1])

ennife

## Formatted strings

In [8]:
first = 'John'
last = 'Smith'
# message = first + '[ + last + ]' is a coder
msg = f'{first} [{last}] is a coder'
print(msg)

John [Smith] is a coder

## String Methods

In [13]:
course = 'Python for Beginners'
print(len(course))
print(course.upper())
print(course.lower())
course.find('P')

20
PYTHON FOR BEGINNERS
python for beginners

0

In [16]:
course = 'Python for Beginners'
course.find('o')

4

In [17]:
course = 'Python for Beginners'
print(course.replace('Beginners','Absolute Beginners'))

Python for Absolute Beginners

In [19]:
course = 'Python for Beginners'
print(course.replace('P','J'))

Jython for Beginners

In [22]:
course = 'Python for Beginners'
'Python' in course

True

In [24]:
course = 'Python for Beginners'
'python' in course

False

In [ ]:
course = 'Python for Beginners'
len()
course.upper()

## Arithmetic Operations

In [26]:
print(10 + 3) # Addition
print(10 - 3) # Subtraction
print(10 * 3) # Multiplication
print(10 / 3) # Division
print(10 // 3) # Division (Integer)
print(10 % 3) # Return remainder
print(10 ** 3) # Power

13
7
30
3.3333333333333335
3
1
1000

In [30]:
# Augmented assignment operator (+=)

x = 10
x = x + 3
x += 3
print(x)

16

In [33]:
x = 10 + 3 * 2
y = 10 + 3 * 2 ** 2
print(x)
print(y)

16
22

## Math functions

In [34]:
x = 2.9
print(round(x))

3

In [37]:
x = 2.9
print(abs(-2.9))

2.9

In [9]:
import math

print(math.ceil(2.9))

3

In [40]:
x = -2.9
print(math.fabs(x))

2.9

## IF Statements

In [52]:
is_hot = False
is_cold = True

if is_hot:
    print("It's a hot day")
    print("Drink plenty of water")
elif is_cold:
    print("It's a cold day")
    print("Wear warm clothes")
else:
    print("It's a lovely day")
    
print("Enjoy your day")

It's a cold day
Wear warm clothes
Enjoy your day

In [53]:
price = 1000000
has_good_credit = True

if has_good_credit:
    down_payment = 0.1 * price
else:
    down_payment = 0.2 * price
print(f"Down payment: ${down_payment}")

Down payment: $100000.0

## Logical Operators

- AND: both
- OR: at least one
- NOT

In [2]:
# if an applicant has high income AND good credit then they're Eligible for loan
has_high_income = True
has_good_credit = True

if has_high_income and has_good_credit:
    print("Eligible for loan")

Eligible for loan

## Comparison Operator

compare variable with a value

- '>': Greater than
- <: Less than
- ==: Is equal to
- !=: Not equal

In [3]:
temperature = 30

if temperature > 30:
    print("It's a hot day")
else:
    print("It's not a hot day")

It's not a hot day

In [7]:
name = 'John Smith'

print(len(name))

if len(name) < 3:
    print("Name must be at least 3 characters.")
elif len(name) > 50:
    print("Name must be a maximum of 50 characters.")
else:
    print("Name looks good!")

10
Name looks good!

## Weight Converter Program

In [12]:
weight = int(input('Weight: '))
unit = input('(L)bs or (K)g')
if unit.upper() == 'L':
    converted = weight * 0.45
    print(f"You are {converted} kilos")
else:
    converted = weight / 0.45
    print(f"You are {converted} pounds")

Weight:  80
(L)bs or (K)g k
You are 177.0 pounds

## While Loop

In [15]:
i = 1
while i <=5:
    print(i)
    i = i + 1
print("Done")

1
2
3
4
5
Done

In [1]:
i = 1
while i <=5:
    print('*' * i)
    i = i + 1
print("Done")

*
**
***
****
*****
Done

## Building a Guessing Game

In [21]:
secret_number = 9
guess_count = 0
guess_limit = 3
while guess_count < guess_limit:
    guess = int(input('Guess: '))
    guess_count += 1
    if guess == secret_number:
        print('You won!')
        break
else:
    print('Sorry, you failed!')

Guess:  9
You won!

## Building the Car Game

In [3]:
command = ""
started = False
stopped = True
help_msg = '''
> start - to start the car
> stop - to stop the car
> quit - to exit
'''
while True:
    command = input("> ").lower()
    if command == "start":
        if started:
            print("Car is already started!")
        else:
            started = True
            stopped = False
            print("Car started... Ready to go!")
    elif command == "stop":
        if not started:
            print("Car is already stopped!")
        else:
            started = False
            print("Car stopped.")
    elif command == "help":
        print(help_msg)
    elif command == "quit":
        break
    else:
        print("I don't understand that...")

Car started... Ready to go!
Car is already started!
Car stopped.
Car is already stopped!

> start - to start the car
> stop - to stop the car
> quit - to exit

## For Loops

Used to iterate over items of a collection

Such as a:
- string - because string is a sequence of character

In [30]:
for item in 'Python':
    print(item)

P
y
t
h
o
n

In [31]:
for item in ['Mosh','John','Sarah']:
    print(item)

Mosh
John
Sarah

In [32]:
for item in [1,2,3,4]:
    print(item)

1
2
3
4

In [37]:
for item in range(5):
    print(item)

0
1
2
3
4

In [40]:
for item in range(5, 10, 2):
    print(item)

5
7
9

In [44]:
prices = [10, 20, 30]

total = 0
for price in prices:
    total += price
print(f"Total: {total}")

Total: 60

## Nested Loops

```
(x, y)
(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
```

In [46]:
for x in range(4):
    for  y in range(3):
        print(f'({x},{y})')

(0,0)
(0,1)
(0,2)
(1,0)
(1,1)
(1,2)
(2,0)
(2,1)
(2,2)
(3,0)
(3,1)
(3,2)

In [52]:
numbers = [5, 2, 5, 2, 2]
for x_count in numbers:
    print('x' * x_count)

xxxxx
xx
xxxxx
xx
xx

In [53]:
numbers = [5, 2, 5, 2, 2]
for x_count in numbers:
    output = ''
    for count in range(x_count):
        output += 'x'
    print(output)

xxxxx
xx
xxxxx
xx
xx

## Lists

In [64]:
names = ['John', 'Bob', 'Mosh', 'Sarah', 'Mary']
print(names[2])
print(names[2:4])
print(names[2:])
print(names)

Mosh
['Mosh', 'Sarah']
['Mosh', 'Sarah', 'Mary']
['John', 'Bob', 'Mosh', 'Sarah', 'Mary']

In [70]:
numbers = [3, 6, 2, 8, 4, 10]
max = numbers[0]
for number in numbers:
    if number > max:
        max = number
print(max)

10

### 2D Lists

3x3 matrix
```
3 3 3
4 5 6
7 8 9   
```

In [5]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for row in matrix:
    for item in row:
        print(item)

1
2
3
4
5
6
7
8
9

### List Methods/Functions

In [6]:
numbers = [5, 2, 1, 7, 4]
numbers.append(20) # Add new items to this list
print(numbers)

[5, 2, 1, 7, 4, 20]

In [7]:
# Append - Add new items to this list
numbers = [5, 2, 1, 7, 4]
numbers.append(20)
print(numbers)

[5, 2, 1, 7, 4, 20]

In [8]:
# Insert - Add new items in this list
numbers = [5, 2, 1, 7, 4]
numbers.insert(0, 10)
print(numbers)

[10, 5, 2, 1, 7, 4]

In [9]:
# Remove - remove items in this list
numbers = [5, 2, 1, 7, 4]
numbers.remove(5)
print(numbers)

[2, 1, 7, 4]

In [1]:
# Clear - remove all items in the list
numbers = [5, 2, 1, 7, 4]
numbers.clear()
print(numbers)

[]

In [2]:
# Pop - remove the last item in end of the list
numbers = [5, 2, 1, 7, 4]
numbers.pop()
print(numbers)

[5, 2, 1, 7]

In [11]:
# Index - returns the index of the first occurence of this item
numbers = [5, 2, 1, 7, 4]
print(numbers.index(5))

0

In [5]:
# Index - returns the index of the first occurence of this item
numbers = [5, 2, 1, 7, 4]
print(numbers.index(50))

ValueError: 50 is not in list

In [6]:
# In - check  the existence of an item
numbers = [5, 2, 1, 7, 4]
print(50 in numbers)

False

In [8]:
# In - counting the occurence of an item
numbers = [5, 2, 1, 5, 7, 4]
print(numbers.count(5))

2

In [9]:
# Sort - asc
numbers = [5, 2, 1, 5, 7, 4]
numbers.sort()
print(numbers)

[1, 2, 4, 5, 5, 7]

In [12]:
# Sort - desc
numbers = [5, 2, 1, 5, 7, 4]
numbers.sort()
numbers.reverse()
print(numbers)

[7, 5, 5, 4, 2, 1]

In [14]:
# Copy - copy of our list
numbers = [5, 2, 1, 5, 7, 4]
numbers2 = numbers.copy()
numbers.append(10)
print(numbers)
print(numbers2)

[5, 2, 1, 5, 7, 4, 10]
[5, 2, 1, 5, 7, 4]

In [15]:
# Remove duplicates
numbers = [2, 2, 4, 6, 3, 4, 6, 1]
uniques = []
for number in numbers:
    if number not in uniques:
        uniques.append(number)
print(uniques)

[2, 4, 6, 3, 1]

## Tuples

Tuples are similar to list but unlike list, we cannot:
- modify
- add item
- remove item
- mutate
- change

In [19]:
numbers = (1, 2, 3)
print(numbers[0])

1

## Unpacking

- Tuple
- List

In [20]:
coordinates = (1, 2, 3)
x = coordinates[0]
y = coordinates[1]
z = coordinates[2]

x * y * z

6

### Tuple

In [23]:
coordinates = (1, 2, 3)
x, y, z = coordinates
print(x)
print(y)
print(z)

1
2
3

### List

In [25]:
coordinates = [1, 2, 3]
x, y, z = coordinates
print(x)
print(y)
print(z)

1
2
3

## Dictionaries

Store information that come as key value pairs

In [ ]:
Name: John Smith
Email: john@gmail.com
Phone: 1234

In [31]:
# Brackets

customer = {
    "name": "John Smith",
    "age": 30,
    "is_verified": True
}
print(customer["name"])

print(customer["birthdate"])

John Smith

KeyError: 'birthdate'

In [34]:
# Get

customer = {
    "name": "John Smith",
    "age": 30,
    "is_verified": True
}
print(customer.get("name"))

print(customer.get("birthdate"))

# Default value
print(customer.get("birthdate", "Jan 1 1980"))

John Smith
None
Jan 1 1980

In [37]:
# Update values

customer = {
    "name": "John Smith",
    "age": 30,
    "is_verified": True
}
customer["name"] = "Jack Smith"
print(customer.get("name"))

customer["birthdate"] = "Jan 1 1980"
print(customer.get("birthdate"))

Jack Smith
Jan 1 1980

## Building translator (Dictionaries)

In [40]:
phone = input("Phone: ")
digits_mapping = {
    "1": "One",
    "2": "Two",
    "3": "Three",
    "4": "Four"
}
output = ""
for ch in phone:
    output += digits_mapping.get(ch, "!") + " "
print(output)

One Two Three Four !

## Emoji Converter (Dictionaries)

In [3]:
message = input("> ")
words = message.split(' ')
emojis = {
    ":)": "游때",
    ":(": "游땬"
}
output = ""
for word in words:
    output += emojis.get(word, word) + " "
print(output)

Good Morning Sunshine 游때

## Functions

In [4]:
def greet_user():
    print('Hi there!')
    print('Welcome aboard!')


print("Start")
greet_user()
print("Finish")

Start
Hi there!
Welcome aboard!
Finish

## Parameters

In [7]:
def greet_user(first_name, last_name):
    print(f'Hi {first_name} {last_name}!')
    print('Welcome aboard!')


print("Start")
greet_user("John", "Smith")
print("Finish")

Start
Hi John Smith!
Welcome aboard!
Finish

## Keyword Arguments

In [8]:
# positional arguments

def greet_user(first_name, last_name):
    print(f'Hi {first_name} {last_name}!')
    print('Welcome aboard!')


print("Start")
greet_user("John")
print("Finish")

Start

TypeError: greet_user() missing 1 required positional argument: 'last_name'

In [10]:
# keyword arguments

def greet_user(first_name, last_name):
    print(f'Hi {first_name} {last_name}!')
    print('Welcome aboard!')


print("Start")
greet_user(last_name="Smith", first_name="John")
print("Finish")

Start
Hi John Smith!
Welcome aboard!
Finish

## Return Statement

In [13]:
def square(number):
    return number * number

print(square(3))

9

## Creating a Reusable Function

In [16]:
def emoji_converter(message):
    words = message.split(" ")
    emojis = {
        ":)": "游때",
        ":(": "游땬"
    }
    output = ""
    for word in words:
        output += emojis.get(word, word) + " "
    return output


message = input("> ")
print(emoji_converter(message))

Good Morning 游때

## Exceptions

In [21]:
try:
    age = int(input('Age: '))
    income = 20000
    risk = income / age
    print(age)
except ValueError:
    print('Invalid value.')
except ZeroDivisionError:
    print('Age cannot be zero.')

Age cannot be zero

## Classes

- Numbers
- Strings
- Booleans

---

- Lists
- Dictionaries

In [26]:
class Point:
    def move(self):
        print("move")

    def draw(self):
        print("draw")


point1 = Point()
point1.x = 10
point1.y = 20
print(point1.x)
point1.draw()

point2 = Point()
point2.x = 1
print(point2.x)

10
draw
1

## Constructors

In [31]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def move(self):
        print("move")

    def draw(self):
        print("draw")


point = Point(10, 20)
print(point.x)

10

In [53]:
class Person:
    def __init__(self, name):
        self.name = name

    def talk(self):
        print(f"Hi, I am {self.name}")


john = Person("John Smith")
john.talk()

bob = Person("Bob Smith")
bob.talk()

Hi, I am John Smith
Hi, I am Bob Smith

## Inheritance

In [ ]:
class Mammal:
    def walk(self):
        print("walk")

class Dog(Mammal):
    def bark(self):
        print("bark")

class Cat(Mammal):
    def be_annoying(self):
        print("annoying")


dog1 = Dog()
dog1.walk()

cat1 = Cat()
cat1.be_annoying()

## Modules

converters.py

In [ ]:
def lbs_to_kg(weight):
    return weight * 0.45

def kg_to_lbs(weight):
    return weight / 0.45

app.py

In [ ]:
import converters

print(converters.kg_to_lbs(70))

import specific function from module

In [ ]:
from converters import kg_to_lbs

print(kg_to_lbs(70))

### New module

utils.py

In [56]:
def find_max(numbers):
    maximum = numbers[0]
    for number in numbers:
        if number > maximum:
            maximum = number
    return maximum

app.py

In [55]:
from utils import find_max

numbers = [10, 3, 6, 2]
maximum = find_max(numbers)
print(maximum)

10

## Packages

Another way to organize codes

In [58]:
# Import specific function
from ecommerce.shipping import calc_shipping

calc_shipping()
calc_shipping()
calc_shipping()

calc_shipping

In [59]:
# Import the entire module
from ecommerce import shipping

shipping.calc_shipping()

calc_shipping

## Generating Random Values

Python contains standard libraries that contains module for certain tasks:
- sending email
- working data on time
- generating random values
- generating random passwords

In [77]:
import random

for i in range(3):
    print(random.random())
print("---")

for i in range(3):
    print(random.randint(10, 20))
print("---")

members = ['John', 'Mary', 'Bob', 'Mosh']
leader = random.choice(members)
print(leader)
print("---")

0.5645860199395689
0.42062323027931536
0.2846697716128942
---
20
18
10
---
Bob
---

In [124]:
# Rolling dice
import random


class Dice:
    def roll(self):
        x = random.randint(1, 6)
        y = random.randint(1, 6)
        return x, y


roll = Dice().roll
roll()

(5, 2)

## Working with Directories

Absolute path - from the root
- C:\Program Files\Microsoft

Relative path - from the working directory
- Path( )

In [141]:
from pathlib import Path

# Check directory existence
path = Path("ecommerce")
print(path.exists())

# Create new directory
path = Path("emails")
print(path.mkdir())

# Remove directory
path = Path("emails")
print(path.rmdir())

True

In [147]:
from pathlib import Path

# All files
path = Path()
for file in path.glob('*.*'):
    print(file)
print("---")

# Files and directories
for file in path.glob('*'):
    print(file)

.idea
app.py
converters.py
Mosh.ipynb
utils.py
---
.idea
app.py
converters.py
ecommerce
Mosh.ipynb
utils.py
__pycache__

## Excel Automation with Python

In [13]:
import openpyxl as xl
from openpyxl.chart import BarChart, Reference

def process_workbook(filename):
    wb = xl.load_workbook(filename)
    sheet = wb['Sheet1']

    for row in range(2, sheet.max_row + 1):
        cell = sheet.cell(row, 3)
        corrected_price = cell.value * 0.9
        corrected_price_cell = sheet.cell(row, 4)
        corrected_price_cell.value = corrected_price

    values = Reference(
                sheet, 
                min_row = 2, 
                max_row = sheet.max_row,
                min_col = 4,
                max_col = 4)

    chart = BarChart()
    chart.add_data(values)
    sheet.add_chart(chart, 'e2')

    wb.save(filename)

## Machine Learning

### Steps:
1. Import the Data
2. Clean the Data
3. Split the Data into Training/Test Sets
4. Create a Model
5. Train the Model
6. Make Predictions
7. Evaluate and Improve

### Libraries
- NumPy
- pandas
- MatPlotLib
- Scikit-Learn

### Import a Data Set

In [2]:
import pandas as pd
df = pd.read_csv('vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [3]:
df.shape

(16598, 11)

In [4]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [5]:
df.values

array([[1, 'Wii Sports', 'Wii', ..., 3.77, 8.46, 82.74],
       [2, 'Super Mario Bros.', 'NES', ..., 6.81, 0.77, 40.24],
       [3, 'Mario Kart Wii', 'Wii', ..., 3.79, 3.31, 35.82],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 'PS2',
        ..., 0.0, 0.0, 0.01],
       [16599, 'Know How 2', 'DS', ..., 0.0, 0.0, 0.01],
       [16600, 'Spirits & Spells', 'GBA', ..., 0.0, 0.0, 0.01]],
      dtype=object)

In [ ]:
df.describe()